/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 270 5% 26%;
    --clr-white: 0 0% 100%;
    --clr-green: 144 72% 55%;
    --clr-yellow: 47 100% 64%;
    --clr-blue: 211 79% 30%;
    --clr-dark-blue: 238 32% 21%;
    --clr-violet: 245 80% 70%;
    --clr-dark-violet: 214 52% 13%;

    /* font-sizes */
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;

    /* font-families */
    --ff-sans-normal: Arial, Helvetica, sans-serif;
    --ff-sans-special: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

    /* font-weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 800;
}

@media (min-width: 35em) {
    :root {
        --fs-400: 1.25rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-400: 1.75rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);

    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
